{{#extend "layout"}}

{{#content "body" mode="append"}}
        <h2>prepend body</h2>
        <form action="/courses/create" method="POST">
            <div class="mb-3">
                <label for="">Course Name</label>
                <input type="text" class="form-control" name="course_name">
            </div>
             <div class="mb-3">
                <label for="">Course Description</label>
                <input type="text" class="form-control" name="course_description">
            </div>
            <div class="mb-3">
                <label for="">Course Status</label>
                <select name="is_active" id="" class="form-control">
                    <option selected value="1">Active</option>
                    <option value="0">Disable</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="">Category</label>
                <select name="category_id" id="" class="form-control">
                    {{#each categories}}
                        <option value="{{id}}">{{category_name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary">
                <input type="reset" value="Reset" class="btn btn-danger">
            </div>
        </form>
{{/content}}

{{/extend}}
