{{#extend "index"}}

{{#content "header" mode="append"}}
    <link rel="stylesheet" href="/css/sliderStyle.css">

{{/content}}


{{#content "body" mode="append"}}
    <div class="slideshow-container">
        <div class="slide-img fade"></div>
        <div class="slide-img fade"></div>
        <div class="slide-img fade"></div>
    </div>
{{/content}}
{{/extend}}
