{{#extend "layout"}}
    
    {{#content "body" mode="append"}}
    <h2>Create New Topic </h2>
    <h2>{{message}}</h2>
        <form action="/topics/create" method="POST">
            <div class="mb-3">
                <label for="">Topic Name</label>
                <input type="text" name="topic_name" class="form-control">
            </div>
             <div class="mb-3">
                <label for="">Topic Description</label>
                <input type="text" name="topic_description" class="form-control">
            </div>
             <div class="mb-3">
                <label for="">Topic Summary</label>
                <input type="text" name="topic_summary" class="form-control">
            </div>
             <div class="mb-3">
                <label for="">Slot</label>
                <input type="text" name="slot" class="form-control">
            </div>
             <div class="mb-3">
                <label for="">Topic Status</label>
                <select name="is_active" id="" class="form-control">
                    <option selected value="1">Active</option>
                    <option value="0">Disable</option>
                </select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary">
                <input type="reset" value="Reset" class="btn btn-danger">
            </div>

             
        </form>
    {{/content}}
{{/extend}}
